*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(39, 36, 36);
  color: white;
}
.home{
  padding: 50px 20px;
  font-size: 18px;
}
.header{
  background: linear-gradient(to right, rgb(69, 137, 201), rgb(201, 69, 137));
  padding: 30px 10px;
  display: flex;
  justify-content: center;
}
.header p{
  font-size: 20px;
}


/*HOME STYLES*/
.display-container{
  display: flex;
  align-items: center;
  width: 1000px;
  overflow-x: scroll;
  margin: 10px auto;
}
img{
  margin: 10px;
  transition: 1s all ease;
}
img:hover{
  transform: scale(1.1);
}
.moviesDisplay-container{
  margin: 50px 0;
}



.footer{
  padding: 20px 10px;
  background-color: rgb(76, 133, 199);
  text-align: center;
  font-size: 18px;
}


/*MEDIA QUERRIES*/
@media (max-width: 600px) {
  .display-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
}
@media (min-width: 700px) {
  .display-container{
    width: 700px;
  }
}
@media (min-width: 1000px) {
  .display-container{
    width: 900px;
  }
}
@media (min-width: 1400px) {
  .display-container{
    width: 1300px;
  }
}